header{
    position: fixed;
    height: 100px;
    line-height: 10px;
}

header .container{
    padding-top: 15px;
}

header .navContainer {
    margin-top: 10px;
}

header ul li{
    margin-left: 30px;
}

header ul li a {
    transition: 0.5s;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #000033;
}

header ul li a:hover{
    color: #b21c58;
}

.header.activeHeader {
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color:rgb(216, 220, 224);
    box-shadow: -10px 5px 20px -15px rgba(0, 0, 0, 0.75);
    padding-top: 5px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transition: .2s;
  }

.desktopNav {
    margin-top: 5px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 0 25px;
}

.navContainer{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navContainer h1{
    color: #000033;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    font-family: 'Megrim', sans-serif;
}
    
.navMenu{
    display: flex;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.navMenu{
    display: flex;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
    margin-left: 400px;

}

.navMenu a{
    text-decoration: none;
    transition: 0.5s ease;
    margin: 0 5px;
    padding: 10px;
    height: 100%;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: -5px -10px 10px #e7e9ee, 5px 10px 10px #b2bfd680, inset 0px 0px 0px #e7e9ee, inset 0px 0px 0px #97a7c380;
}

.navMenu a:hover{
    text-decoration: none;
    transition: 0.5s ease;
    margin: 0 5px;
    padding: 10px;
    height: 100%;
    border-radius: 5px;
    font-weight: 500;
    
}

.navMenu a.is-active, .navMenu a:hover{
    box-shadow: 0px 0px 0px #e7e9ee, 0px 0px 0px #b2bfd680, inset -5px -10px 10px #e7e9ee, inset 5px 10px 10px #97a7c380;
}

.active{
    border-bottom:2px solid #b21c58;
    border-top: 2px solid #b21c58;
}


/* Hamburger Start */
.navHamburger{
    display: none;
    user-select: none;
    appearance: none;
    background:none;
    outline: none;
    border:none;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.navHamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #000033;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.5s;
    border-radius: 5px;
    margin-bottom: 5px;
}

.navHamburger.is-Active span:nth-child(1){ 
    background-color: #b21c58;
}

.navHamburger.is-Active span:nth-child(2){ 
    transform: translate(10px); 
    background-color: #b21c58;
}

.navHamburger.is-Active span:nth-child(3){
    transform: translate(15px);
    background-color: #b21c58;
} 
/* Hamburger End */


/* Mobile Nav Start */
.mobileNav{
    position: fixed;
    left: -100%;
    top: 0;
    min-height: 100vh;
    width: 100%;
    z-index: 98;
    background-color: #b21c58;
    transition: 0.5s ease;
    
}

.mobileNav.isActive{
    left: -45%;
    text-align: center;
}

.centerObjects{
    margin-top: 45%;
}

.mobileNav a{
    display: block;
    height: 100%;
    padding: 15px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
    box-shadow: -4px -5px 10px #fc237a, 1px 5px 10px #49001d;
    /* box-shadow: -4px -5px 10px #474345, 1px 5px 10px #000000; */
    color: #FAF9F6;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    transition: .5s ease;
    background-color: #b21c58;
}

.mobileNav a:hover{
    transform: translateX(15%);
    background-color: #b21c58;
}

.mobileNav a span{
    transition: 1s ease;

}

.mobileNav a:hover span{
    margin-left: 55%;
}


.mobileNav li{
    margin-left: 25%;
}

.container-fluid{
    padding: 7rem 15%;
}

/*  */

@media (max-width: 900px) {
    .navHamburger{
        display: block;
    }
    .navMenu{
        display: none;
    }
}

/* Media End */

.ellipse{
    position: absolute;
    background-image: linear-gradient(45deg,#00003383, #b21c5898);
    top: 0;
    margin-left: -100px;
    border-radius: 50%;
    filter: blur(50px);
}

.headerLogo {
    width: 70px;
    padding-bottom: 20px;
}