.profileContainer{
    margin-top: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    min-height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10px;

}

.profileParent{
    display: flex;
    align-items: center;
    padding: 4% 4% 0 4%;
}

.profileDetailsName{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.profileDetailsRole{
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.profileDetailsRole h1{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bolder;
}

.primaryText{
    color: #000033;
    font-weight: 700;
    width: 500px;
    text-align: center;
}

.highlightedText{
    color: #b21c58;
    font-weight: 700;
}

.profileRoleTagline{
    font-size: 17px;
    margin: 5px 0px 0px 0 ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.profilePicture{
    display: flex;
    align-items: center;
    border-radius: 50%;
    height: 29rem;
    width: 29rem;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    box-shadow: inset -10px -10px 10px #f88091, inset 10px 10px 10px #db4bb0,  -10px -10px 10px #e7e9ee,  10px 10px 10px rgb(192, 201, 209), inset 0px -25px 5px #dee0e7,  inset 0px 25px 5px rgb(192, 201, 209);
    margin: 0 auto;
}

.profilePictureBackground{
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    margin-top: 100%;
    height: 150%;
    width: 100%;
    background-image: url("../../Assets/Home/Saly-38.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.colz{
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    align-items: center;
    font-weight: 500;
}


.colzIcon p {
    text-align: center;
    font-weight: 500 !important;
    font-size: 20px !important;
}

.colz .colzIcon i{
    text-align: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    padding: 25px 35px;
    color: #b21c58;
    transition: .5s ease, transform 1s, background-color .8s, box-shadow 2s, color .8s;
    border-radius: 15px;
    box-shadow: -5px -10px 10px #e7e9ee, 5px 10px 10px #97a7c380, inset -1px -1px 7px #e7e9ee, inset 1px 1px 7px #97a7c380;
}

.colz .colzIcon i:hover{
    box-shadow: 0px 0px 0px #e7e9ee, 0px 0px 0px #97a7c380, 0px 25px 40px #0000337c;
    transform: translateY(-10px);
    background-color: #000033;
    color: #e7e9ee;
}

.colz p{
    font-weight: 400;
    font-size: 17px;
}

@media (max-width: 1140px) {
    .profilePicture{
        height: 25rem;
        width: 25rem;
    }
    .profileDetailsName{
        font-size: 20px;
    }
    .profileDetailsRole .primaryText{
        font-size: 12px;
    }
    .profileOptions .btn{
        width: 150px;
    }
}

@media (max-width: 900px){
    .primaryText{
        width: 100%;
    }
    .profilePicture{
        margin-left: 15px;
        margin-top: 25px !important;
        margin: 0 auto;
        height: 25rem;
        width: 25rem;
        margin-bottom: 70px;

        align-items: center;
        align-items: center;
        justify-content: center;
    }
    .profileParent{
        flex-direction: column-reverse;
    }
}

@media (max-width: 820px){
    .profilePicture{
        margin-left: 15px;
        margin-top: 25px !important;
        margin: 0 auto;
        height: 25rem;
        width: 25rem;
        align-items: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 70px;
    }
    .primaryText{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .profilePicture{
        height: 15rem;
        width: 30rem;
        margin-top: 25px !important;
        margin: 0 auto;
        height: 25rem;
        width: 25rem;
        margin-bottom: 70px;

    }
    .primaryText{
        width: 100%;
    }
}

@media (max-width: 640px) {
    .profilePicture{
        margin-top: 25px !important;
        margin: 0 auto;
        height: 15rem;
        width: 15rem;
        margin-bottom: 70px;
    }
    .profileParent{
        flex-direction: column-reverse;
    }
    .primaryText{
        width: 100%;
    }
}

.note{
    color: red;
}

.disclamer{
    font-size: 14px;
    font-weight: 500;
}

.primaryBtn a{
    color: #000033 !important;
}

.primaryBtn:hover a{
    color: #b21c58 !important;
}