body{
  background-color: #c8d3db;
  color: black;
  background: rgb(213, 219, 224);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.container{
  max-width: 95%;
  margin: auto;
}

.dFlex{
  display: flex;
  justify-content: space-between;
}

.fFlex{
  display: flex;
}

a{
  text-decoration: none;
}

li {
  list-style: none;
}

.upperClass{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

button{
  border: none;
  outline: none;
  background: none;
}

