body{
  background-color: #c8d3db;
  color: black;
  background: rgb(213, 219, 224);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.container{
  max-width: 95%;
  margin: auto;
}

.dFlex{
  display: flex;
  justify-content: space-between;
}

.fFlex{
  display: flex;
}

a{
  text-decoration: none;
}

li {
  list-style: none;
}

.upperClass{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

button{
  border: none;
  outline: none;
  background: none;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: -5px -5px 5px #ffffff inset, 5px 5px 5px #00000080 inset;
  /* Pipe Style Outline */
  /* box-shadow: 5px 5px 5px #b21c58 inset, -5px -5px 5px #000033 inset; */
  border-radius: 50px;
  background-color: #b4bdc4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  box-shadow: 2px 2px 5px #000033 inset, -5px -5px 5px #b21c58 inset;
  border-radius: 50px;
  background-color: #000033;
  border: 1px solid #000033;
}